

table{
    border: 1px solid;/**Este codigo sirve para darle estilo a los bordes de la tabla y para poscisionarla **/
    margin-top: 5vh;
    margin-bottom: 50px;
    margin-left: 15vh;
    margin-right: 25vh;
    
}

thead{
    background:#85929E;/** Este conjunto de codigo sirve para darle al escabezado de la tabla estilo , el color de la letra y del encabezado **/
    color: black;
    padding-left: 6px;/** Este codigo sirve para darle un espacio entre el borde y la letra */
}

table th{
    border: 1px solid;/**Sirve para poder posicionar la letra y darle un espacio entre las letras y el borde de la tabla */
    margin-left: 10px;
    padding: 5px;
}

table td{
    border: 1px solid;
    padding-left: 25px;
    padding-right: 20px;
}

h1{
    margin-left: 15vh;/** Este codigo sirve para poder posicionar el encabezado que dice PROVEEDORES*/
    margin-top: 1vh;
}
.botones{
    margin-left: 15vh;/** Este codigo es para darle estilo a los botones y poder posicionarlos */
}
.menu a {
    display: inline-block;
    text-decoration: none;
    padding: 27px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
